.project__img {
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.work__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  grid-gap: 1.5rem;
}
