.footer {
  display: grid;
  place-content: center;
  height: 10vh;
  color: var(--cl-btn-border);
  //   border-top: 1px solid #000;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;

  &__txt {
    // width: 300px;
    // height: 30px;
    padding: 2rem;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 50%;
      height: 1%;
      background-color: tomato;
      transform: translateY(-50%);
    }

    &::before {
      left: -50%;
    }

    &::after {
      left: 100%;
    }
  }
}
