.work {
  display: grid;
  background-color: var(--bc-body);
  align-content: center;
  position: relative;
  z-index: 1;
  grid-row-gap: 3rem;

  &__content {
    display: grid;
    grid-row-gap: 5rem;
  }

  &__title {
    text-transform: capitalize;
    font-size: 15rem;
    font-weight: 700;
    color: #707070;
    padding: 3rem;
    opacity: 0.2;
    letter-spacing: 1.5rem;
  }
}
// ------------------------------
// media
// ------------------------------
// 600px
@media (max-width: 37.5rem) {
  .work {
    &__title {
      font-size: 7rem;
      padding: 3rem;
    }
  }
}
